body {
    font-family: 'DM Sans', sans-serif;
    background-attachment: fixed;
    background-image: url("../imagenes/white-wall.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}