footer {
    line-height: 35px;
    color: black;
    margin-top: 80px;
    padding: 10px;
    background-color: grey;
}

footer {
    ul {
        li {
            list-style: none;
            font-size: 20px;
            text-align: center;
        }
    }
}