nav {
    background-color: grey;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

nav a:hover {
    background-color: #d3d3d3;
    color: black;
}

nav {
    ul {
        li {
            padding: 10px;
            list-style: none;
            display: inline-block;
        }
    }
}

nav {
    ul {
        li {
            a {
                color: black;
            }
        }
    }
}

nav {
    ul {
        li {
            ul {
                font-size: 18px;
                display: none;
                padding-top: 5px;
                position: absolute;
                width: 125px;
                background-color: white;
                text-align: center;
            }
        }
    }
}

nav {
    ul {
        li {
            &:hover {
                ul {
                    display: block;
                }
            }
        }
    }
}