/* MOBILE FIRST

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
    body {
        background-color: grey;
    }
    header {
        padding-bottom: 10px;
        text-align: center;
    }
    nav {
        font-size: 10x;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
    }
    footer {
        margin-top: 40px;
        padding: 10px;
        background-color: rgb(75, 72, 72);
        height: 80px;
    }
}

*/